RewriteEngine On

# Redirect to HTTPS if not already
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect admin and api to HTTPS
RewriteCond %{HTTP_HOST} ^admin\.enerjust\.org\.ng [OR]
RewriteCond %{HTTP_HOST} ^api\.enerjust\.org\.ng
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Rewrite non-existing PHP files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Handle PHP scripts
<IfModule fcgid_module>
    <IfModule mime_module>
        AddHandler fcgid-script .php .php8 .phtml
        FcgidWrapper /usr/local/cpanel/cgi-sys/ea-php81 .php
        FcgidWrapper /usr/local/cpanel/cgi-sys/ea-php81 .php8
        FcgidWrapper /usr/local/cpanel/cgi-sys/ea-php81 .phtml
    </IfModule>
</IfModule>
